./out_DA14585
projects/target_apps/ble_examples/ble_app_ota/Keil_5/JLinkLog.txt
/projects/target_apps/ble_examples/ble_app_ota/Keil_5/out_DA14585
/projects/target_apps/ble_examples/ble_app_ota/Keil_5
